html, body{
	max-width: 100%;
	overflow-x: hidden;
}

/* center alignment */
.tutorial-image, .btn, .tutorial-btns {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.btn {
  display: inline-block;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.lunch-div {
    width: 350px;
    position: relative;
    left: 20%;
    top: 0;
}
.lunch {
    width: 350px;
    position: relative;
    left: 0;
    top: 0;
}
.lunch-item {
    width: 110px;
}
.lunch-item0 {
    position: absolute;
    top: 90px; 
    left: 80px;
}
.lunch-item1 {
    position: absolute;
    top: 90px; 
    left: 180px;
}
.lunch-item2 {
    position: absolute;
    top: 220px; 
    left: 80px;
}
.lunch-item3 {
    position: absolute;
    top: 220px; 
    left: 180px; }

.item-div{
    width: 50%;
    padding-left: 100px;
}

.
